@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@font-face {
   font-family: "Cabinet Grotesk";
   src: url("./font/CabinetGrotesk-Variable.ttf") format("truetype");
   font-weight: 100 900;
   font-style: normal;
   font-display: swap;
}

* {
   font-family: "Cabinet Grotesk", "Inter", sans-serif;
}

@theme {
   --color-focinhando-white: #fafafa;
   --color-focinhando-accent: #ee6551;
   --color-focinhando-accent-dark: #d94c42;
   --color-focinhando-border: rgba(0, 0, 0, 0.15);
   --color-focinhando-gray: rgba(206, 205, 205, 0.15);
   --color-focinhando-dark: #333;
   --color-focinhando-text: #666;

   --animate-fadeIn: fadeIn 0.3s ease-in-out;
   --animate-slideUp: slideUp 0.3s ease-out;
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes slideUp {
   from {
      opacity: 0;
      transform: translateY(20px);
   }

   to {
      opacity: 1;
      transform: translateY(0);
   }
}
